body{
    margin:0px;
    padding: 0px;    
}
.header{
    display: flex;
    text-align: center;
}
.logo{
    margin:10px;
    padding: 8px;
    height:30px;
}
.navbar{
    display: flex;
    text-align: center;
    justify-content: center;
}
.navbar-list1{
    list-style: none;
    display: flex;
    gap: 5px;
}
.item{
    padding: 10px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item:hover{
    color:purple;
}
.navbar-list2{
    
    list-style: none;
    display: flex;
    gap:15px;
}
.item1{
    color:purple;
    text-decoration: none;
    display:flex;
    font-size: medium;
    border:1px solid purple;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item1:hover{
    background-color: purple;
    color: white;
}
.item2{
    background-color: purple;
    color:white;
    text-decoration: none;
    display:flex;
    font-size: medium;
    border:1px solid purple;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item2:hover{
    background-color: white;
    color:purple;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.head{
    font-size: xx-large;
    margin-left:20px;
    margin-right: 20px;
    padding: 30px;
}
.images{
    display: flex;
}
.img1{
    position: relative;
    top:40px;
    left:5px;
    z-index: 0;
}
.img2{
    position:relative;
    top:160px;
    right:200px;
    z-index:1;
}